/* TODO: refactor common gaps to variables */
:root {
    --color-gold: #bdae82;
    --color-black: #000000;
    --color-default: #fff;
    --font-big: 'Merriweather', serif;
    --font-small: 'Inter', sans-serif;
    --font-size-big: 60px;
    --font-size-medium: 40px;
    --font-size-small: 20px;
}

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0;
    margin-left: 0;
    font-family: var(--font-small);
    font-size: var(--font-size-small);
    background-color: var(--color-black);
    color: var(--color-default);
}

.active {
    color: var(--color-gold);
}

.container {
    /* Use fixed width for first task (portfolio #1) */
    /*max-width: 1440px;*/
    width: 1440px;
    margin: 0 auto;
    padding: 0 20px;
}
.container-flex {
    display: flex;
    flex-direction: column;
    justify-content: start;
}
.container-fluid {
    /* Use fixed width for first task (portfolio #1) */
    /*max-width: 1440px;*/
    width: 1440px;
    margin: 0 auto;
}

.container a,
.container-fluid a {
    text-decoration: none;
    transition: 0.3s;
    color: var(--color-default);
}

.container a:hover,
.container-fluid a:hover {
    color: var(--color-gold);
}


.custom-icons {
    vertical-align: bottom;
    display: inline-block;
    width: 50px;
    height: 50px;
    background-color: var(--color-default);
    transition-property: filter;
    transition-duration: 0.3s;
}

.custom-icons.brand {
    -webkit-mask: url("./assets/svg/logo_unvisited.svg") 50% 50%/contain no-repeat;
    mask: url("./assets/svg/logo_unvisited.svg") 50% 50%/contain no-repeat;
}

.custom-icons.play {
    -webkit-mask: url("./assets/svg/Play_Unvisited.svg") 50% 50%/contain no-repeat;
    mask: url("./assets/svg/Play_Unvisited.svg") 50% 50%/contain no-repeat;
}

.custom-icons.instagram {
    -webkit-mask: url("./assets/svg/inst 1.svg") 50% 50%/contain no-repeat;
    mask: url("./assets/svg/inst 1.svg") 50% 50%/contain no-repeat;
}

.custom-icons.twitter {
    -webkit-mask: url("./assets/svg/tw 1.svg") 50% 50%/contain no-repeat;
    mask: url("./assets/svg/tw 1.svg") 50% 50%/contain no-repeat;
}

.custom-icons.pinterest {
    -webkit-mask: url("./assets/svg/pinterest 1.svg") 50% 50%/contain no-repeat;
    mask: url("./assets/svg/pinterest 1.svg") 50% 50%/contain no-repeat;
}

.custom-icons.facebook {
    -webkit-mask: url("./assets/svg/fb 1.svg") 50% 50%/contain no-repeat;
    mask: url("./assets/svg/fb 1.svg") 50% 50%/contain no-repeat;
}

.custom-icons.brand:hover {
    cursor: pointer;
    /* Background color doesn't work good with transitions, so use filter */
    /*background-color: var(--color-gold);*/
    filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%)
    contrast(87%);
}

.custom-icons.clickable:hover {
    cursor: pointer;
    filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%)
    contrast(87%);
}

.nav {
    padding: 20px;
}

.nav .nav-list{
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
}

.nav-item {
    line-height: 50px;
    padding: 0 15.5px;
}

.nav-item.nav-brand{
    margin-right: auto;
    margin-left: 0;
    padding: 0;
}

.clickable {
    cursor: pointer;
    transition: 0.3s;
}

.clickable.active:hover{
    color: var(--color-default);
}

.clickable:hover{
    color: var(--color-gold);
}

li.lang {
    padding-left: 17px;
    padding-right: 0;
    font-weight: bold;
    letter-spacing: 0.33px;
}

.lang-splitter {
    display: inline-block;
    padding-left: 9px;
    padding-right: 9px;
}

.header-background{
    background: url("./assets/img/hero.jpg") no-repeat center 0;
}

.hero {
    background: url("./assets/img/hero.jpg") no-repeat center -90px;
    height: 820px;
    padding-top: 160px;
    padding-left: 80px;
    margin-left: -20px;
    margin-right: -20px;
}

.hero p {
    width: 470px;
    line-height: 40px;
    margin: 10px 0 25px 0;
}

h1.section-title {
    font-family: var(--font-big);
    font-size: var(--font-size-big);
    line-height: calc(var(--font-size-big) * 2);
    margin: 0;
}

.button-solid {
    display: block;
    background-color: var(--color-gold);
    color: var(--color-black);
    border: 0;
    font-family: inherit;
    font-size: var(--font-size-small);
    width: 220px;
    height: 55px;
    transition: color 0.3s;
}

.button-outline {
    display: block;
    background-color: transparent;
    color: var(--color-gold);
    border: 2px solid var(--color-gold);
    font-family: inherit;
    font-size: var(--font-size-small);
    width: 220px;
    height: 55px;
    transition: color 0.3s;
}

.button-solid:hover {
    cursor: pointer;
    color: var(--color-default);
}

.button-outline:hover {
    cursor: pointer;
    color: var(--color-default);
}

.button-centered {
    margin-left: auto;
    margin-right: auto;
}

.section {
    padding-top: 100px;
}

.header-wrapper {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 60px;
    overflow: hidden;
    background-image: linear-gradient(to top, var(--color-black) calc(var(--font-size-medium) - 1px),
        var(--color-gold) calc(var(--font-size-medium) - 1px),
        var(--color-gold) calc(var(--font-size-medium) + 1px),
        var(--color-black) calc(var(--font-size-medium) + 1px));
}

.header-wrapper h2.section-title {
    width: fit-content;
    padding: 0 20px;
    margin: 0 auto;
    font-family: var(--font-big);
    font-size: var(--font-size-medium);
    line-height: calc(var(--font-size-medium) * 2);
    color: var(--color-gold);
    background-color: var(--color-black);
    text-align: center;
}

.skill-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    padding-bottom: 2px;
}

.skill-card {
    width: 320px;
    height: 240px;
}

h3.skill-header {
    margin-top: 50px;
    text-align: center;
    font-size: var(--font-size-small);
    line-height: calc(var(--font-size-small) * 2);
    font-weight: bold;
    letter-spacing: 0.33px;
}

p.skill-description {
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    width: 280px;
    height: 72px;
    font-size: 18px;
    line-height: 36px;
}

/* Not the best way to do it, since it is not semantic*/
.svg-image {
    display: block;
    height: 50px;
    margin-right: auto;
    margin-left: auto;
    background-color: var(--color-gold);
}

.svg-image.camera {
    width: 62px;
    -webkit-mask: url("./assets/svg/camera 1.svg") 50% 50%/contain no-repeat;
    mask: url("./assets/svg/camera 1.svg") 50% 50%/contain no-repeat;
}

.svg-image.video {
    width: 60px;
    -webkit-mask: url("./assets/svg/video 1.svg") 50% 50%/contain no-repeat;
    mask: url("./assets/svg/video 1.svg") 50% 50%/contain no-repeat;
}

.svg-image.image {
    width: 66px;
    -webkit-mask: url("./assets/svg/image 1.svg") 50% 50%/contain no-repeat;
    mask: url("./assets/svg/image 1.svg") 50% 50%/contain no-repeat;
}

.svg-image.mic {
    width: 32px;
    -webkit-mask: url("./assets/svg/mic 1.svg") 50% 50%/contain no-repeat;
    mask: url("./assets/svg/mic 1.svg") 50% 50%/contain no-repeat;
}

.button-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
    margin-bottom: 60px;
}

.gallery-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 25px;
}

.gallery-image {
    display: block;
    width: 450px;
    height: 560px;
    object-fit: cover;
}

.video-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.video-container .play-button {
    position: absolute;
    display: block;
    border: none;
    width: 129.86px;
    height: 130px;
}

.play-button:hover {
    cursor: pointer;
    filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%)
    contrast(87%);
}

.price-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 25px;
}
.price-card {
    border: 3px solid var(--color-gold);
    width: 450px;
    height: 505px;
    padding: 40px 0;
}

.price-card h3.price-header {
    font-family: var(--font-big);
    font-size: 28px;
    font-weight: bold;
    line-height: 56px;
    text-align: center;
    margin: 0;
    margin-bottom: 20px;
}

.price-card p.price-tag {
    font-family: var(--font-big);
    font-size: 24px;
    font-weight: bold;
    line-height: 48px;
    margin: 0;
    text-align: center;
    letter-spacing: 0.33px;
    color: var(--color-gold);
}

.price-description {
    list-style: none;
    padding: 0;
    margin: 20px 0 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.price-description li {
    font-size: 18px;
    line-height: 36px;
}

.contacts {
    height: 700px;
    margin-top: 100px;
    margin-left: -20px;
    margin-right: -20px;
    padding-top: 60px;
    padding-right: 20px;
    background: url("./assets/img/contacts-bg.jpg") no-repeat center 0;
    background-size: auto 700px;
    background-position: center center;
}

.contacts-form-container {
    width: 450px;
    height: 445px;
    margin-left: auto;
}

.contacts-form-container h2.section-title {
    font-family: var(--font-big);
    font-size: var(--font-size-medium);
    font-weight: bold;
    line-height: calc(var(--font-size-medium) * 2);
    margin: 0 0 40px;
    color: var(--color-gold);
}

.contacts-form {
    display: flex;
    justify-content: start;
    gap: 20px;
    flex-direction: column;
}

.contacts-form .input {
    width: 100%;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.5);
    border: 2px solid var(--color-gold);
    color: var(--color-gold);
    font-family: inherit;
    font-size: var(--font-size-small);
    line-height: calc(var(--font-size-small) * 2);
    padding: 5px 18px;
}

.contacts-form .input::placeholder{
    font-family: inherit;
    font-size: inherit;
    color: inherit;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-text-fill-color: var(--color-gold);
    transition: background-color 0s ease-in-out 9000s;
}

.input.textarea {
    height: 100px;
    padding-top: 3px;
    resize: none;
}

.contacts-button {
    margin-top: 10px;
}

.container-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 50px 20px;
}

.copyright-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    padding-right: 13px;
}

.container-footer div {
    line-height: 50px;
}

.container-footer .rs-link-container {
    padding-left: 4px;
}

.social-networks {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    height: 50px;
}

.custom-icons.small {
    width: 32px;
    height: 32px;
}


